@use "./partials/colors";
@use './partials/media-query';
@use './partials/typography';
@use './modules/contact';
@use './modules/mixin.scss';

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
.main-section {
  height: 100vh;
  width: 100%;
  padding: 1em;
}

.sub-heading {
  text-align: center;

}

// Nav section
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 0;
  height: 60px;
  width: 100%;
  padding: 20px;
  background-color: #cccccc;
  font-family: "Roboto";
  // justify-content: flex-end;

  &__logo {
    position: absolute;
    // top: 10px;
    // padding: 10px;

  }
  &__links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    color: colors.$creole;

    a {
      text-decoration: none;
      // color: $colors.$grey;

      &:hover {
        color: darken(colors.$creole, 20%);
      }
  }

  }

  &--hamburger {
    color: colors.$creole;
  }
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__about__signature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 15px;
    background-color: #cccccc;
    font-family: "Roboto";
    font-weight: bold;
  }
}