@use "./partials/colors";
@use './partials/media-query';
@use './partials/typography';
@use './modules/contact';
@use './modules/mixin.scss';
@use './modules/skills';

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: colors.$creole;
  margin-bottom: 16px;
}

p {
  font-family: Roboto;
}
.main-section {
  height: 100vh;
  width: 100%;
  padding: 1em;
}

.sub-heading {
  text-align: center;

}

// hero section

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__text {
    font-weight: bold;
    font-size: large;
    justify-content: flex-end;
    text-align: end;
    margin-bottom: 16px;
  }

  .container {
    width: 80%;
    padding: 20px;
    margin: 0 auto;

    &--white {
      background-color: colors.$white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &--image {
      background-image: url(./images/hero-img.jpg);
      height: 500px;
      background-position: center;
    }
    .h1 {
      font-size: 10rem;
      white-space: nowrap;
      position: left;
      line-break: auto;
    }
  
    .hero-img {
      float: right;
    }
  }
  
    .hero__button {
      background-color: colors.$creole;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      text-wrap: wrap;
      font-size: 1.5rem;
      font-weight: bold;
      color: White;
      border: 5px solid white;
      position: left;
      gap: 1.5em;
  
      &:hover {
        background-color: lighten($silver, 10%);
      }
    }
  }



// Nav section
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 0;
  height: 60px;
  width: 100%;
  padding: 20px;
  background-color: #cccccc;
  font-family: "Roboto";
  // justify-content: flex-end;

  &__logo {
    position: absolute;
    // top: 10px;
    // padding: 10px;

  }
  &__links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    color: colors.$creole;

    a {
      text-decoration: none;
      // color: $colors.$grey;

      &:hover {
        color: darken(colors.$creole, 20%);
      }
  }

  }

  &--hamburger {
    color: colors.$creole;
  }
}

.article {
  display: flex;
  &__title {
    font-size: larger;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__about__signature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 15px;
    background-color: #cccccc;
    font-family: "Roboto";
    font-weight: bold;
  }
}